{% extends "base.html" %}

{% block introduction %}
<section id="introduction">
	<h2>Introduction</h2>
	
	<p>Google Map is really useful application. Django may already has the library but it's a little bit complecated for me.
		I just want these features. These features are this library's feature as well.</p>
	<ul>
		<li>Storeing latitude and longitude. (map zoom value as well)</li>
		<li>Chose place with drag &amp; drop marker.</li>
		<li>Geocoding from address.</li>
	</ul>
	
	<p>This library default skin use <a href="http://www.webdesignerdepot.com">Reflection Icon Set by Webdesigner Depot</a>. Thanks for them really nice pictures.</p>
</section>
{% endblock %}

{% block content %}
<h2>Demo</h2>
<p>Click a title and you can move markers to where you want. Click submit to submit changes.</p>
<hr>
{% for entry in object_list %}
<article class="entry">
	<h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
	<table>
		<tr>
			<td>Start</td>
			<td>{{ entry.start|date }}</td>
		</tr>
		<tr>
			<td>Place</td>
			<td>{{ entry.place }}</td>
		</tr>
	</table>
	{{ entry.get_location_display }}
</article>
{% endfor %}
{% endblock %}