<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false" encode="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/django.googlemap.js" encode="utf-8"></script>
<link type="text/css" alt="stylesheet" href="{{ STATIC_URL }}css/django.googlemap.css">
<script type="text/javascript">
	$(document).ready(function(){
		$('.django-googlemap-surface').googlemap({
			'query': {
				'submit': {'src': "{{ STATIC_URL }}image/django.googlemap.submit.png"},
				'loading': {'src': "{{ STATIC_URL }}image/django.googlemap.loading.gif"},
				'error': {'src': "{{ STATIC_URL }}image/django.googlemap.error.png"}
			},
			'visibility': {
				'show': {'src': "{{ STATIC_URL }}image/django.googlemap.show.png"},
				'hide': {'src': "{{ STATIC_URL }}image/django.googlemap.hide.png"}
			}
		});
	});
</script>
